<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rajesh.post">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-library android:name="com.google.android.maps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAkXqsozl6jvVea7KVSFqwbLPfGC9HCzxc" />
        <activity
            android:name=".user_service"
            android:label="Small Tasks At Hand">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MAPS_service"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".job_post_service"
            android:label="@string/title_activity_job_post" >
        </activity>





        <activity
            android:name=".task_search_service"
            android:label="@string/title_activity_task_search" >
        </activity>
        <activity
            android:name=".task_search_result_service"
            android:label="@string/title_activity_task_search_result" >
        </activity>
        <activity
            android:name=".search_MAPS_service"
            android:label="@string/title_activity_search__maps" >
        </activity>


    </application>

</manifest>